@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-image: url('c.jpeg');
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  margin: 0;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 400px;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.input,
.button {
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  transition: border-color 0.3s ease-in-out;
}

.input:focus,
.button:focus {
  outline: none;
  border-color: #00ff00;
}

.button {
  background-color: transparent;
  color: #00ff00;
  border: 1px solid #00ff00;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #00ff00;
  color: #000;
  transform: scale(1.05);
}

a:hover {
  color: #3273dc;
  text-decoration: underline;
}

.error {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.9);
  color: #fff;
  transform: rotateZ(-10deg);
  animation: shake 0.5s infinite alternate;
}

@keyframes shake {
  0% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}
